body{
     
    margin: 0px;
    padding: opx;
   /* color:#011627 ;
    background-color:rgb(255, 255, 255) ; */
    text-align: center;
    background-image: url(media/night.jpg);
    background-repeat: no-repeat ;
    background-position: center;
}

h1{
    font-size: 45px;
    color: #929292;


}

input{
    width: 80px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    color:rgb(5, 5, 5) ;
    background-color:rgb(255, 255, 255) ;
    text-align: center;
}

 .btn:hover{
    background-color: gold;
    cursor: pointer;

 }

